body {
/* 	max-width: 1024px; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
#imageSlider img{
	width: 100%;
	height: 300px;
}
/* #content .list-group { */
/* 	width: 50%; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* } */
.list-group-item img {
	height: 100px;
	width: 100px;
	float: left;
	padding-right: 15px;
}
#topNav a{
	color: #fff;
	padding-right: 10px;
}
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
.center .navbar-inner {
    text-align:center;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.row-padded {
	padding-bottom: 15px;
}
