body {
/* 	max-width: 1024px; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
#imageSlider img{
	width: 100%;
	height: 300px;
}
/* #content .list-group { */
/* 	width: 50%; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* } */
.list-group-item img {
	height: 100px;
	width: 100px;
	float: left;
	padding-right: 15px;
}
#topNav {
	background-color: #7AC1FF;
}
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
.center .navbar-inner {
    text-align:center;
}
/* aside { */
/* 	float: right; */
/* 	width: 20%; */
/* 	position: relative; */
/* 	display: block; */
/* } */

/* .eventsList {  */
/* 	margin-left: auto; */
/*     margin-right: auto; */
/*     width:  50%; */
/*     border: 2px solid; */
/* } */
/* .eventsList li { */
/* 	list-style: none; */
	
/* } */
/* #content { */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* 	width: 50%; */
/* } */